header{
    color: white;
    width: 100%; 
    height: 5vh; 
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: left;
    position: fixed; 
    top: 20px;
    left: 10px;
    z-index: 1000;
}

body {
    background-image: url("img/GIF/DiceOldGif.gif");
    background-size: cover;
    background-color: #cccccc;
    font-family: 'Nunito';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20svh;
    padding-top: 2vh;
    width: 100%;
   }

h1{
    color: white;
    font: Nunito;
   }
h2{
    color: white;
    font: Nunito;
    font-size: 150px;
    position: absolute;
    transform: translate(0%,20%);
   }
p1{
    color: white;
    font: Nunito;
    font-size: 30px;

    position: absolute;

    transform: translate(0%,350%);
   }

   button{
    border-color: transparent;
    font-family: 'Nunito';
    border-radius: 25px 25px 25px 25px;
    background: rgb(166,133,91);
    background: linear-gradient(180deg, rgba(166,133,91,1) 0%, rgba(146,93,81,1) 100%);
    color: white;
       cursor:pointer;
    font-size: 30.3px;
    font: 'Nunito';
    width: 100%;
    height: 60%;
   
  }
.RegisterButton{
    background: transparent;
    border-color: transparent;
    font-family: 'Nunito';
    color: white;
    font-size: 20;
    font: 'Nunito';
    width: 100%;
    height: 50%;
}
.button-container {
    position: absolute;
    transform: translate(0%,800%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Img-Container{

    position: absolute;
    transform: translate(-25%,0%);
    display: flex;
    align-items: flex-end;

}
img{
    width: 20%;
    height: 10%;
}
.LoginContainer{
    position: absolute;
    transform: translate(0%,220%);
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
input{
    height: 60px;
    padding: 10px;
    font-size: 10px; /* Larger font can make input feel bigger */
    
}
p2{
    font-size: 30px;
    color: white;
}
.BackButton{
    position: relative;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-2%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15%;
    
}
.RegisterContainer{
    position: absolute;
    transform: translate(0%,220%);
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
